.main {
    display: grid;
    grid-gap: 50px;
    grid-template-areas: "draw tiles";
    grid-template-columns: 25% 75%;
    height: 100%;
    width: 100%;
}

#tiles-div {
    display: grid;
    grid-gap: 5px;
    width: 95vh;
    height: 95vh;
}

.draw {
    height: 100%;
    width: 100%;
}

#tile-new {
    height: 30vh;
    width: 30vh;
    margin-top: 35vh;
    margin-left: 25%;
}
